// Nextflow config file for running on the Nautilus cluster

params {
    config_profile_description = "Nautilus cluster profile provided by nf-core/configs."
    config_profile_contact = "Ben Shealy (bentsherman)"
    config_profile_url = "https://ucsd-prp.gitlab.io/"

    max_cpus = 192
    max_memory = 540.GB
    max_time = 168.h
}

process {
  executor = "k8s"
}

executor {
    queueSize = 100
}
