// Nextflow config file for running on the Palmetto cluster at Clemson University

params {
    config_profile_description = "Palmetto cluster profile provided by nf-core/configs."
    config_profile_contact = "Ben Sherman (bentsherman)"
    config_profile_url = "https://www.palmetto.clemson.edu/"

    max_cpus = 80
    max_memory = 748.GB
    max_time = 168.h
}

process {
    executor = "pbspro"
}

executor {
    queueSize = 100
    submitRateLimit = "1 sec"
}

singularity {
    runOptions = "--bind \${NXF_WORK:-${launchDir}/work}"
}
